/** Couleur du texte d'identifiant ou mot de passe éronnée **/
#error{
    color: red;
}
/*******************************************/

/** CSS pour formulaire de connexion **/
.fond_auth{
    padding-top: 9%;
    transform: scale(1);
    display: flex;
    justify-content: center;
    text-align: center;
}
/*******************************************/

/** Encart pour le contenu du formulaire de connexion **/
.form_auth{
    background-color: lightgray;
    padding: 20px;
    border-radius: 5%;
}
/*******************************************/

h2{
    margin: 0;
    font-size: 70px;
}

label{
    font-size: 25px;
}

form{
    padding: 20px;
}

/*******************************************/

/** zones de saisie de l'identifiant et du mot de passe **/
.saisie{
    width: 250px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B8B7B7;
}
/*******************************************/

/** Marge du bouton connexion **/
.connexion{
    margin: 5px;;
}
/*******************************************/