.rectangle{
    background-color: #E2DDDD;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 3px;
    font-size: 25px;
}

.affiche{
    display: block;
}

.invisible{
    display:none;
}


thead{
    text-align: left;
}

table{
    border-collapse: collapse;
    margin: auto;
}

table, td, th {
    border: 1px solid;
    border: none; /* Supprime les bordures */
    border-bottom: 1px solid #C4C3C3; /* Ajoute uniquement des lignes horizontales */
    padding: 8px; /* Optionnel, pour espacer le contenu */
    padding: 0px 20px;
}

.lignes_a_colorer:nth-child(odd) {
    background-color: #F0F0F0; /* Gris clair */
}

  /* Colorie les lignes impaires en blanc */
.lignes_a_colorer:nth-child(even) {
    background-color: white; /* Blanc */
}

.lignes_a_colorer:hover{
    background-color: grey;
}

caption{
    margin-bottom: 30px;
}

.Editer{
    background-color: white;
    color: black;
}
.Supprimer{
    background-color: red;
    color: white;
}

.Editer, .Supprimer{
    
    display: inline-block;
    border-radius: 6px;
    border-color: #C4C3C3;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 2.5px;
    border: 2px solid #C4C3C3;
}

.Actions{
    text-align: center;
}


.bouton{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 0.5%;
    border-radius: 3px;
}

.Ajouter{
    display: flex;
    border-radius: 3px;
    border: 2px solid #04acc6;
    background-color: #09c5e1;
    padding: 10px;
    color: white;
    gap: 10px;
    position: relative;
    left: 65%;
}

.fond_form {
    display: none;
    position: fixed; /* Positionné par rapport à la fenêtre */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
}

#hide_form{
    display:none;
}

#hide_form_modif{
    display:none;
}

#show_form{
    display: flex;
}
.form_add_meta {
    transform: scale(1.5);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 13%;
    margin-left: 35%;
    position: relative;
}

/* Bouton pour fermer le modal */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.ajout_meta{
    background-color: white;
    color: black;
}


.supp_meta{
    display: flex;
    background-color: red;
    color: white;

    gap: 10px;

}

  

.ajout_meta, .supp_meta{
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    margin: 2.5px;
    border: 2px solid #C4C3C3;
}