<!-- src/app/body/body.component.html -->

<div class="rectangle">
    Liste des Métadonnées
  </div>
  <br>
  <div [class.affiche]="!isDataLoaded" [class.invisible]="isDataLoaded" >
    Chargement des données ...
   </div>
   <div [class.affiche]="isDataLoaded" [class.invisible]="!isDataLoaded" >
  
    <br>
    <button class="Ajouter" id="Ajouter"  type="button" (click)="add_meta()"> <img src="assets\fleche.png" height="17" width="17"> Ajouter une métadonnée</button>


    <div class="fond_form" id="hide_form">
      <div class="form_add_meta">
        <span class="close-button">&times;</span>
        <h2>Ajouter une métadonnée</h2>
        <form>
          <label for="id_meta">Identifiant de la métadonnée : </label>
            <input type="text" id="id_meta" name="id_meta"><br><br>
            <label for="description">Description de la métadonnée : </label>
            <input type="description" id="description" name="description"><br><br>
        </form>
        <div class="bouton">
          <button class="ajout_meta"  type="submit">Créer</button>
          <button class="supp_meta" id="supp_meta" type="delete"  (click)="annuler()">Annuler</button>
        </div>
      </div>
    </div>
  


    <br><br>
    <table>    
      <thead>
        <tr>
          <th>ID Métadonnées</th>
          <th>Description</th>
          <th class="Actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="lignes_a_colorer" *ngFor="let i of donnees">
          <td>{{i.id}}</td>
          <td>{{i.description}}</td>
          <td>
            <div class="bouton">
              <button class="Editer"  type="button">Editer</button>
              <button class="Supprimer" type="button">Supprimer</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

<!--
    <div id="formModal" class="modal">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Êtes vous sur de vouloir supprimer cette métadonnée</h2>
          <div class="bouton">
            <button class="annuler" type="submit">Annuler la suppression</button>
            <button class="supprimer" type="delete"> <img src="assets\poubelle.png" height="20" width="17"> Supprimer définitivement</button>
          </div>

      </div>
    </div>
   </div>
  -->