.form{
    margin-top: 7%;
}

/************************************************************/


thead{
    text-align: left;
}

table{
    border-collapse: collapse;
    margin: auto;
}

table, td, th {
    border: 1px solid;
    border: none; /* Supprime les bordures */
    border-bottom: 1px solid #C4C3C3; /* Ajoute uniquement des lignes horizontales */
    padding: 8px; /* Optionnel, pour espacer le contenu */
    padding: 0px 20px;
}



caption{
    margin-bottom: 30px;
}

