<!-- src/app/body/body.component.html -->
<app-header></app-header>
<div class="rectangle">
  Liste des marégraphes disponibles
</div>
<br>
<div [class.affiche]="!isDataLoaded" [class.invisible]="isDataLoaded" >
  Chargement des données ...
</div>
<div [class.affiche]="isDataLoaded" [class.invisible]="!isDataLoaded" >
<!-------------------- Formulaire d'aout d'un marégraphe -------------------->
  <button class="Ajouter" id="Ajouter"  type="button" (click)="show_add_maregraphe()"> <img src="assets\fleche.png" height="17" width="17"> Ajouter un marégraphe</button>

  <div class="fond_form" id="hide_form_add">
    <div class="form">
      <span class="close-button" (click)="annuler()">&times;</span>
      <h2>Ajouter un marégraphe</h2>
      <form [formGroup]="formAddMaregraphe">
        <label for="ville">Ville : </label>
        <input type="text" id="ville" formControlName="ville"><br><br>

        <label for="id_maregraphe">Identifiant du marégraphe : </label>
        <input type="text" id="id_maregraphe" formControlName="id_maregraphe"><br><br>

        <label for="latitude">Latitude : </label>
        <input type="number" id="latitude" formControlName="latitude"><br><br>

        <label for="longitude">Longitude : </label>
        <input type="number" id="longitude" formControlName="longitude"><br><br>
      </form>
      <div class="bouton">
        <button class="ajout_mare"  type="submit" (click)="addMaregraphe()">Créer</button>
        <button class="supp_mare" id="supp_mare" type="delete"  (click)="annuler()">Annuler</button>
      </div>
    </div>
  </div>
<!---------------------------------------------------------------------------->
  <br><br><br>
  <table>    
    <thead>
      <tr>
        <th (click)="sort('id_tdb')">Identifiant {{triangleData["id_tdb"]}}</th>
        <th (click)="sort('libelle')">Ville {{triangleData["libelle"]}}</th>   
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="lignes_a_colorer" *ngFor="let i of donnees">
        <td>{{i.id_tdb}}</td>
        <td>{{i.libelle}}</td>
        <td>{{i.latitude}}</td>
        <td>{{i.longitude}}</td>
        <td>
          <div class="bouton">
            <a href="tabMaregrapheMeta/{{i.id_tdb}}/{{i.libelle}}"><button class="acceder" type="button">Accéder</button></a>
            <button class="editer" type="button" (click)="show_modif_maregraphe(i.id_tdb, i.libelle, i.latitude, i.longitude)">Editer</button>
            <button class="Supprimer" type="button" (click)="deleteMaregraphe(i.id_tdb)">Supprimer</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-------------------- Formulaire de modification d'un marégraphe -------------------->
<div class="fond_form" id="hide_form_modif">
  <div class="form">
    <span class="close-button" (click)="annuler_modif()">&times;</span>
    <h2>Mettre à jour les informations du marégraphe</h2>
    <form [formGroup]="formModifMaregraphe">
      <label for="ville">Ville : </label>
      <input type="text" id="ville" formControlName="ville"><br><br>

      <label for="id_maregraphe">Identifiant du marégraphe : </label>
      <input type="text" id="id_maregraphe" formControlName="id_maregraphe" readonly="readonly"><br><br>

      <label for="latitude">Latitude : </label>
      <input type="number" id="latitude" formControlName="latitude"><br><br>

      <label for="longitude">Longitude : </label>
      <input type="number" id="longitude" formControlName="longitude"><br><br>
    </form>
    <div class="bouton">
      <button class="ajout_mare"  type="submit" (click)="update_maregraphe()">Modifier</button>
      <button class="supp_mare" id="supp_mare" type="delete"  (click)="annuler_modif()">Annuler</button>
    </div>
  </div>
</div>
