<!-- src/app/body/body.component.html -->
<app-header></app-header>
<div class="rectangle">
    Liste des métadonnées marégraphiques
  </div>
  <br>
  <div [class.affiche]="!isDataLoaded" [class.invisible]="isDataLoaded" >
    Chargement des données ...
  </div>
  <div [class.affiche]="isDataLoaded" [class.invisible]="!isDataLoaded" >
    <div class="entete_page">
      <p class="infos_page">Identifiant du partenaire : {{id}}</p>
      <p class="infos_page">Partenaire : {{partenaire}}</p>
      <div class="button_header">
        <div class="retour"><a href="tabChoixPartenaire"><button class="bouton_retour">Retour</button></a></div>
        <div class="part_export"><button class="export" id="export" type="button"> <img src="assets\telechargement.png" height="18" width="18"> Télécharger l'export SML</button></div>
        <div class="part_ajout"><button *ngIf="isAdmin" class="Ajouter" id="Ajouter"  type="button" (click)="showAddMaregraphe()"> <img src="assets\fleche.png" height="17" width="17"> Ajouter un marégraphe</button></div>
      </div>
    </div>
  
    <div *ngIf="isAdmin">
      <div class="fond_form" id="hide_form_add">
        <div class="form">
          <span class="close-button" (click)="annuler()">&times;</span>
          <h2>Ajouter un marégraphe</h2>
          <form [formGroup]="formAddMaregraphe">
            <label for="maregraphe">Identifiant du marégraphe : </label>
            <select formControlName="maregraphe">
              <option value="" disabled selected>Choisir un marégraphe</option>
              <option formGroupName="maregraphe" *ngFor="let i of listMaregraphe">{{i.libelle}}</option>
            </select><br><br>
            <label for="ordre">Ordre : </label>
            <input id="ordre" type="number" formControlName="ordre"><br><br>
          </form>
          <div class="bouton">
            <button class="ajout"  type="submit" (click)="addMaregraphe()">Créer</button>
            <button class="supp" id="supp" type="delete"  (click)="annuler()">Annuler</button>
          </div>
        </div>
      </div>
    </div>

    <br><br><br>
    <table>    
      <thead>
        <tr>
            <th (click)="sort('id_maregraphe')">Identifiant {{triangleData["id_maregraphe"]}}</th>
            <th (click)="sort('ordre')">Ordre {{triangleData["ordre"]}}</th>
            <th (click)="sort('libelle')">Ville {{triangleData["libelle"]}}</th>   
            <th>Latitude</th>
            <th>Longitude</th>
            <th *ngIf="isAdmin"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="lignes_a_colorer" *ngFor="let i of donnees">
            <td>{{i.id_tdb}}</td>
            <td>{{i.ordre}}</td>
            <td>{{i.libelle}}</td>
            <td>{{i.latitude}}</td>
            <td>{{i.longitude}}</td>
            <td *ngIf="isAdmin">
              <div class="bouton">
                <a href="tabMaregrapheMeta/{{i.id_tdb}}/{{i.libelle}}"><button class="acceder" type="button">Accéder</button></a>
                <button class="supp" type="button" (click)="deleteMaregraphe(id,i.id_tdb)">Supprimer</button>
              </div>
            </td>

        </tr>
      </tbody>
    </table>

  

  </div>