<!-- src/app/body/body.component.html -->
<app-header></app-header>
<div class="rectangle">
    Liste des métadonnées marégraphiques
  </div>
  <br>
  <div [class.affiche]="!isDataLoaded" [class.invisible]="isDataLoaded" >
    Chargement des données ...
   </div>
   <div [class.affiche]="isDataLoaded" [class.invisible]="!isDataLoaded" >

    <div class="entete_page">
      <p class="infos_page">Identifiant du partenaire : {{id}}</p>
      <p class="infos_page">Partenaire : {{partenaire}}</p>
      <div class="button_header">
        <a href="tabChoixPartenaire"><button class="bouton_retour">Retour</button></a>
        <button class="Ajouter" id="Ajouter"  type="button" (click)="showAddMaregraphe()"> <img src="assets\fleche.png" height="17" width="17"> Ajouter un marégraphe</button>
      </div>


    <div class="fond_form" id="hide_form">
      <div class="form_add_meta">
        <span class="close-button" (click)="annuler()">&times;</span>
        <h2>Ajouter une métadonnée</h2>
        <form [formGroup]="formAddMaregraphe">
          <label for="maregraphe">Identifiant du marégraphe : </label>
          <select formControlName="maregraphe">
            <option value="" disabled selected>Choisir un marégraphe</option>
            <option formGroupName="maregraphe" *ngFor="let i of listMaregraphe">{{i.libelle}}</option>
          </select><br><br>
          <label for="ordre">Ordre : </label>
          <input id="ordre" type="number" formControlName="ordre"><br><br>
        </form>
        <div class="bouton">
          <button class="ajout_meta"  type="submit" (click)="addMaregraphe()">Créer</button>
          <button class="supp_meta" id="supp_meta" type="delete"  (click)="annuler()">Annuler</button>
        </div>
      </div>
    </div>
    -->
    <br><br><br>
    <table>    
      <thead>
        <tr>
            <th (click)="sort('id_maregraphe')">Identifiant {{triangleData["id_maregraphe"]}}</th>
            <th (click)="sort('libelle')">Ville {{triangleData["libelle"]}}</th>   
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="lignes_a_colorer" *ngFor="let i of donnees">
            <td>{{i.id_tdb}}</td>
            <td>{{i.libelle}}</td>
            <td>{{i.latitude}}</td>
            <td>{{i.longitude}}</td>
            <td>
              <div class="bouton">
                <a href="tabMaregrapheMeta/{{i.id_tdb}}/{{i.libelle}}"><button class="acceder" type="button">Accéder</button></a>
                <button class="editer" type="button" >Editer</button>
                <button class="Supprimer" type="button">Supprimer</button>
              </div>
            </td>

        </tr>
      </tbody>
    </table>