.form{
    margin-top: 7%;
}

.form_add{
    transform: scale(1.5);
    margin-top: 13%;
}


/* Style ajouté aux zones de saisie des formulaire */
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus, select:focus {
    border: 3px solid #555;
}


.bouton{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 0.5%;
    border-radius: 3px;
}

.ajout_meta{
    background-color: white;
    color: black;
}


.supp_meta{
    display: flex;
    background-color: red;
    color: white;
    gap: 10px;

}


.ajout_meta, .supp_meta{
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    margin: 2.5px;
    border: 2px solid #C4C3C3;
}

.colonne{
    text-align: left;
}

table{
    border-collapse: collapse;
    margin: auto;
}

table, td, th {
    border: 1px solid;
    border: none; /* Supprime les bordures */
    border-bottom: 1px solid #C4C3C3; /* Ajoute uniquement des lignes horizontales */
    padding: 8px; /* Optionnel, pour espacer le contenu */
    padding: 0px 20px;
    text-align: left;

}

.Actions{
    text-align: center;
}

.Editer{
    background-color: white;
    color: black;
}
.Supprimer{
    background-color: red;
    color: white;
}

.Editer, .Supprimer{
    
    display: inline-block;
    border-radius: 6px;
    border-color: #C4C3C3;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 2.5px;
    border: 2px solid #C4C3C3;
}

.button_header{
    display: flex;
    justify-content: space-around;
}
