/* You can add global styles to this file, and also import other style files */
.lignes_a_colorer:nth-child(odd) {
    background-color: #F0F0F0; /* Gris clair */
}

  /* Colorie les lignes impaires en blanc */
.lignes_a_colorer:nth-child(even) {
    background-color: white; /* Blanc */
}

.lignes_a_colorer:hover{
    background-color: lightgray;
}

.bouton_retour{
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 6px;
    border-color: #C4C3C3;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 2.5px;
    border: 2px solid #C4C3C3;
    text-decoration: none;
}