.lien_site{
    color: black;
}


#hide_form_add{
    display:none;
}

.form_add_meta {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 13%;
    margin-left: 35%;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.bouton{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 0.5%;
    border-radius: 3px;
}

.maj_partenaire{
    background-color: white;
    color: black;
}


.supp_partenaire{
    display: flex;
    background-color: red;
    color: white;
    gap: 10px;

}

  

.maj_partenaire, .supp_partenaire{
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    margin: 2.5px;
    border: 2px solid #C4C3C3;
}


table{
    border-collapse: collapse;
    margin: auto;
}

table, td, th {
    border: 1px solid;
    border: none; /* Supprime les bordures */
    border-bottom: 1px solid #C4C3C3; /* Ajoute uniquement des lignes horizontales */
    padding: 10px; /* Optionnel, pour espacer le contenu */
    
    text-align: left;
    
}


/** CSS pour formulaire de modification des infos du marégraphe **/

.fond_form_modif {
    display: none;
    position: fixed; /* Positionné par rapport à la fenêtre */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
}

#hide_form_modif{
    display:none;
}

.form_modif_partenaire {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 13%;
    margin-left: 35%;
    position: relative;
}

.bouton{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 0.5%;
    border-radius: 3px;
}

.logos{
    width: 125px;
    height: 100px;
}