.lien_site{
    color: black;
}

.form{
    margin-top: 13%;
}

/***********************/


table{
    border-collapse: collapse;
    margin: auto;
}

table, td, th {
    border: 1px solid;
    border: none; /* Supprime les bordures */
    border-bottom: 1px solid #C4C3C3; /* Ajoute uniquement des lignes horizontales */
    padding: 10px; /* Optionnel, pour espacer le contenu */
    
    text-align: left;
    
}


.form_modif{
    margin-top: 13%;
}

.bouton{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 0.5%;
    border-radius: 3px;
}

.logos{
    width: 125px;
    height: 100px;
}