<!-- src/app/body/body.component.html -->
<app-header></app-header>
<div class="rectangle">
  Liste des Partenaires
</div>
<br>
<div [class.affiche]="!isDataLoaded" [class.invisible]="isDataLoaded" >
  Chargement des données ...
</div>
<div [class.affiche]="isDataLoaded" [class.invisible]="!isDataLoaded" >
<!-------------------- Formulaire d'aout d'un marégraphe ------------------
  <button class="Ajouter" id="Ajouter"  type="button" (click)="show_add_maregraphe()"> <img src="assets\fleche.png" height="17" width="17"> Ajouter un marégraphe</button>

  <div class="fond_form" id="hide_form_add">
    <div class="form_add_meta">
      <span class="close-button" (click)="annuler_add()">&times;</span>
      <h2>Ajouter un marégraphe</h2>
      <form [formGroup]="formAddMaregraphe">
        <label for="ville">Ville : </label>
        <input type="text" id="ville" formControlName="ville"><br><br>

        <label for="id_maregraphe">Identifiant du marégraphe : </label>
        <input type="text" id="id_maregraphe" formControlName="id_maregraphe"><br><br>

        <label for="latitude">Latitude : </label>
        <input type="number" id="latitude" formControlName="latitude"><br><br>

        <label for="longitude">Longitude : </label>
        <input type="number" id="longitude" formControlName="longitude"><br><br>
      </form>
      <div class="bouton">
        <button class="ajout_meta"  type="submit" (click)="addMaregraphe()">Créer</button>
        <button class="supp_meta" id="supp_meta" type="delete"  (click)="annuler_add()">Annuler</button>
      </div>
    </div>
  </div>
---------------------------------------------------------------------->
  <br><br><br>
  <table>    
    <thead>
      <tr>
        <th>Identifiant</th>
        <th>Nom du partenaire</th>
        <th>Logo du partenaire</th>
        <th>Url du site internet</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="lignes_a_colorer" *ngFor="let i of donnees">
        <td>{{i.id}}</td>
        <td>{{i.nom}}</td>
        <td><img class="logos" src="https://services.data.shom.fr/static/logo/DDM/{{i.logo}}"></td>
        <td><a href={{i.url}} target="_blank">{{i.url}}</a></td>
        <td>
          <div class="bouton">
            <a href="tabPartenaireMaregraphe/{{i.id}}/{{i.nom}}"><button class="acceder" type="button">Accéder</button></a>

<!-------------------- Formulaire de modification d'un partenaire ------------------->

            <button class="editer" type="button" (click)="show_modif_partenaire()">Editer</button>
          </div>

          
          <div class="fond_form" id="hide_form_modif">
            
            <div class="form_modif_partenaire">
              
              <span class="close-button" (click)="annuler_modif()">&times;</span>
              <h2>Modifier les informations du partenaire</h2>
        
              <form>
                <label for="nom">Nom du partenaire : </label>
                <input type="text" id="nom" name="nom" placeholder="Nom du partenaire"><br><br>
      
                <label for="logo">url du logo du partenaire : </label>
                <input type="text" id="logo" name="logo" placeholder="url du logo"><br><br>
      
                <label for="site">url du site internet partenaire : </label>
                <input type="text" id="site" name="site" placeholder="url du site internet partenaire"><br><br>
      
              </form>
              <div class="bouton">
                <button class="maj_partenaire"  type="submit">Mettre à jour</button>
                <button class="supp_partenaire" id="supp_partenaire" type="delete"  (click)="annuler_modif()">Annuler</button>
              </div>
<!-------------------------------------------------------------------------->     
            </div>             
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>