<!-- src/app/body/body.component.html -->
 <div [class.affiche]="!isDataLoaded" [class.invisible]="isDataLoaded" >
  Chargement des données ...
 </div>
 <div [class.affiche]="isDataLoaded" [class.invisible]="!isDataLoaded" >
  Les données sont chargées
  <table>
    <caption>Données des marégraphes</caption>
    <tr>
      <td>id_maregraphe</td><td>id_meta</td><td>donnee</td><td>date_donnees</td>
    </tr>
    <tr *ngFor="let i of donnees">
      <td>{{i.id_maregraphe}}</td><td>{{i.id_meta}}</td><td>{{i.donnee}}</td><td>{{i.date_donnees}}</td>
    </tr>
  </table>
 </div>