.form{
    margin-top: 7%;
}

/********************/


.colonne{
    text-align: left;
}

table{
    border-collapse: collapse;
    margin: auto;
}

table, td, th {
    border: 1px solid;
    border: none; /* Supprime les bordures */
    border-bottom: 1px solid #C4C3C3; /* Ajoute uniquement des lignes horizontales */
    padding: 8px; /* Optionnel, pour espacer le contenu */
    padding: 0px 20px;
    text-align: left;

}

.button_header{
    display: flex;
    background-color: #555;
    text-align: center;
}

.Ajouter{
    text-align: center;
}


.bouton_retour{
    background-color: white;
    color: black;
    border-radius: 6px;
    border-color: #C4C3C3;
    text-align: center;
    font-size: 14px;
    width: 100px;
    margin: 2.5px;
    border: 2px solid #C4C3C3;
    
    padding: 10px;
    gap: 10px;
    align-items: end;
}