<!-- src/app/body/body.component.html -->
<app-header></app-header>
<div class="rectangle">
    Liste des métadonnées marégraphiques
  </div>
  <br>
  <div [class.affiche]="!isDataLoaded" [class.invisible]="isDataLoaded" >
    Chargement des données ...
   </div>
   <div [class.affiche]="isDataLoaded" [class.invisible]="!isDataLoaded" >
    <div class="entete_page">
      <p class="infos_page">Identifiant du marégraphe : {{id_maregraphe}}</p>
      <p class="infos_page">Ville : {{ville_maregraphe}}</p>
      <div class="button_header">
        <a href="tabChoixMaregraphe"><button class="bouton_retour">Retour</button></a>
        <button class="Ajouter" id="Ajouter"  type="button" (click)="showAddMeta()"> <img src="assets\fleche.png" height="17" width="17"> Ajouter une métadonnée</button>
      </div>

    </div>
    <div class="fond_form" id="hide_form_add">
      <div class="form">
        <span class="close-button" (click)="annuler()">&times;</span>
        <h2>Ajouter une métadonnée</h2>
        <form [formGroup]="formAddMeta">
          <label for="id_meta">Identifiant de la métadonnée : </label>
            <select id="id_meta" formControlName="idMeta">
              <option *ngFor="let i of metadonnees">{{i.id}}</option>
            </select>
            <label for="description">Description de la métadonnée : </label>
            <input type="description" id="description" name="description" formControlName="data"><br><br>
        </form>
        <div class="bouton">
          <button class="ajout_meta"  type="submit" (click)="addMeta()">Créer</button>
          <button class="supp_meta" id="supp_meta" type="delete"  (click)="annuler()">Annuler</button>
        </div>
      </div>
    </div>
    
    <br><br><br>
    <table>    
      <thead>
        <tr>
          <th (click)="sort('id_meta')">ID Métadonnées {{triangleData['id_meta']}}</th>
          <th>Données</th>
          <th (click)="sort('date_donnee')">Date de création/update données {{triangleData['date_donnee']}}</th>
          <th class="Actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="lignes_a_colorer" *ngFor="let i of donnees">
          <td>{{i.id_meta}}</td>
          <td>{{i.donnee}}</td>
          <td>{{i.date_donnee}}</td>
          <td>
            <div class="bouton">
              <button class="Editer"  type="button" (click)="showModifForm(i.id_meta, i.donnee)">Editer</button>
              <button class="Supprimer" type="button" (click)="deleteMeta(i.id_maregraphe,i.id_meta)">Supprimer</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="fond_form" id="hide_form_modif">
              
      <div class="form">
        
        <span class="close-button">&times;</span>
        <h2>Modifier les informations de la métadonnée</h2>
    
        <form [formGroup]="formModifMeta">
          <label for="idMeta">ID métadonnée : </label>
          <input type="text" id="idMeta" readonly="True" formControlName="id_meta"><br><br>
    
          <label for="description">Description : </label>
          <input type="text" id="description" formControlName="donnee"><br><br>
        </form>
        <div class="bouton">
          <button class="ajout_meta"  type="submit" (click)="updateMetaMare()">Modifier</button>
          <button class="supp_meta" id="supp_meta" type="delete" (click)="hideForm()">Annuler</button>
        </div>
    <!---------------------------------------------------------------------------->     
      </div>              
    </div>
   </div>

