<!-- src/app/body/body.component.html -->
<app-header></app-header>
<div class="rectangle">
    Liste des métadonnées marégraphiques
  </div>
  <br>
  <div [class.affiche]="!isDataLoaded" [class.invisible]="isDataLoaded" >
    Chargement des données ...
   </div>
   <div [class.affiche]="isDataLoaded" [class.invisible]="!isDataLoaded" >
  
    <button class="Ajouter" id="Ajouter"  type="button" (click)="add_meta()"> <img src="assets\fleche.png" height="17" width="17"> Ajouter une métadonnée</button>

    <div class="fond_form" id="hide_form">
      <div class="form_add_meta">
        <span class="close-button" (click)="annuler()">&times;</span>
        <h2>Ajouter une métadonnée</h2>
        <form>
          <label for="id_meta">Identifiant de la métadonnée : </label>
            <input type="text" id="id_meta" name="id_meta"><br><br>
            <label for="description">Description de la métadonnée : </label>
            <input type="description" id="description" name="description"><br><br>
        </form>
        <div class="bouton">
          <button class="ajout_meta"  type="submit">Créer</button>
          <button class="supp_meta" id="supp_meta" type="delete"  (click)="annuler()">Annuler</button>
        </div>
      </div>
    </div>
    
    <br><br><br>
    <table>    
      <thead>
        <tr>
          <th>ID Marégraphe</th>
          <th>ID Métadonnées</th>
          <th>Données</th>
          <th>Date de création/update données</th>
          <th class="Actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="lignes_a_colorer" *ngFor="let i of donnees">
          <td>{{i.id_maregraphe}}</td>
          <td>{{i.id_meta}}</td>
          <td>{{i.donnee}}</td>
          <td>{{i.date_donnees}}</td>
          <td>
            <div class="bouton">
              <button class="Editer"  type="button">Editer</button>
              <button class="Supprimer" type="button">Supprimer</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
   </div>